.registration-page-container{
    
}
.form-page-title{
    font-family: 'Rubik' sans-serif;
    margin: 20px;
    margin-left: 30px;
}


.submitbutton{
    color: white;
    background-color: var(--theme-green);
    border: none;
    outline: none;
    padding: 10px 25px;
    font-size: 18px;
    font-weight: bold;
    border-radius: 10px;
    
}
.submitbutton:hover{
    background-color: var(--theme-deep-green);
}