.sidenav-container {
    position: fixed;
    width: 80%;
    height: 98%;
    background-color: white;
    /* border: 2px solid red; */
    padding: 10px;
    z-index: 9999;
    transform: translateX(-1000px);
    transition: transform 1s;
    margin-top: -85px;
    overflow-y: scroll;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    
}

.sidenav-container>a{
    text-decoration: none;
}

.sidenav-container.sidebaropen {
    transform: translateX(0px);
}

.sidenav-top {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    align-items: center;
}

.sidenav-logo-container {
    width: 30%;
}

.sidenav-logo-container img {
    width: 100%;
}

#sidenav-close-btn {
    border: none;
    outline: none;
    color: black;
    background-color: transparent;
    font-size: 24px;
    font-weight: bold;
    padding: 5px;
    height: 40px;
    width: 40px;
    border-radius: 50px;
}

.sidebar-title-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.sidebar-title-container>a{
    text-decoration: none;
    color: var(--theme-deep-green);
}

.menu-title{
    margin: 10px 0px;
}

.sidebar-submenu{
    margin-left: 20px;
}

.sidebar-link-container{
    margin: 15px 0px;
}

.sidebar-link{
    text-decoration: none;
    color: black;
    
}

.sidebar-icon{
    margin-right: 15px;
}

.sidebar-category{
    margin:20px 0px;
    color: var(--theme-green);
}

.sidebar-category-link{
    display: flex;
    align-items: center;
    text-decoration: none;
    /* color: black; */
    color: var(--theme-deep-green);
}

.sidebar-image-icon-container{
    width: 35px;
    height: 35px;
    border-radius: 50px;
    overflow: hidden;
    margin-right: 15px;
}
.sidebar-image-icon-container img{
    width:100%;
}

